/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: rgba(160,195,175,255);
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
}

h4 {
  padding-top: 2rem;
}

hr {
  margin-top: 0;
}

.panel {
  border: 0.1rem solid black;
}

.pattern {
  /* I've had this picture saved for so long I no longer can find the creator to credit. :( */
  background: url(./images/telephone-lines.png) center fixed; 
  height: calc(100vh - 56px);
}